
    .destacado{
        border: 1px solid black; 
        margin: 10px 0;
        color:rgb(255, 255, 255);
        background-color: bisque;
    }
    /*cambio de color del fondo se Aplica a body*/
    .bg1{background-color: rgb(81, 23, 136);}
    .bg2{background-color: rgb(255, 255, 255);}
    .bg3{background-color: blanchedalmond;}
    
    /* Selector ID= se puede usar una vez, en el documento, 
    se puede usar en otro documento*/
    #main-frame{
        width: 90%;
        margin: 0 auto;
        border: 1px solid;
        border-radius: 10px;
    }

    /* Maqueta */

    body{ /*poniendolo acá arriba se aplica 
        a todo lo que esta abajo, como cascada*/
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
            padding: 0%;
    }

    .header{
        padding: 20px;
        background-color: blanchedalmond;
         }
        h1{
            margin: 0;
            text-align: center;
        }
        .nav-bar{
        margin-top: 20px;
        text-align: center;
        }   
    #main-content{
        margin: 10px;
        padding: 10px;
        }
        article{
            border: 1px solid rgb(241, 253, 189);
            border-radius: 10px;
            margin-bottom: 20px;
            padding: 10px;
            background-color: antiquewhite;
        }
        /* selector anidado article a{ */
        .linksArticle{
            padding:10px;
            background-color: brown;
        }
